<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted"></h3>
                <div class="team-member">
                    <img src="/images/home/profile.jpg" class="img-responsive img-circle" alt="">
                    <h4>Larry Parker</h4>
                    <p class="text-muted">Lead Marketer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <p>Hi!  I’m Lauren, the founder and blogger here at Lifeatthecircle.</p>
              <p>This blog began in my tiny kitchen in the beautiful town of Annapolis,  Maryland during the first year of marriage to my wonderful husband.  Thankfully, it was our first year of marriage, which meant that the hubs was super gracious with all of my flops and fails in the kitchen (they never made it to the blog!) and the post-marriage conversion from meat-eater to vegetarian, and then, eventually: vegan.  Having trouble with getting enough protein (and facing all of the “Eating Out” drama!), I made the decision to add eggs back into my diet (and, every so often, I’ll splurge a little and buy some seafood).  My goal is to eventually work in some homemade fermented and sprouted foods (so super healthy) back into my food routine.</p>

              <p>Why do I keep to mostly vegan?</p>

              <p>I’m very glad you asked.  Growing up on yummy fried foods and salty sauces (say that five times fast), I was overweight as a kid and had constant skin problems.  I was allergic to a few hand and body products (even the sensitive skin types by big name brands) and could never find a skin regime that worked.  My teenage years were spent buying a new skincare products every week. Or, every other week.  Either way, it was frustrating.  In my late twenties, my hormones were out of whack, my gut wasn’t functioning properly, and the skin problems had worsened.  I tried facials and heavy exfoliating…. and it hurt.  Frustrated, I combed through the internet, desperate for a solution.</p>

              <p>Eventually, I landed on a page several pages suggesting a vegan diet.</p>

              <p>It took months for my severe acne to clear, and when it did, it was amazing.  Although I knew previously that my body has problems digesting refined grains (those that aren’t whole, for example: white bread, white rice, and pasta that isn’t whole grain.  In fact, it still does.), I discovered that my body has major issues relieving itself of the “toxins” produced by dairy products.  There are days that a gooey pizza or perfect tollhouse chocolate chip cookies seem so incredibly tempting, and yet, I’m always reminded of the cost.</p>

              <p>With Paleo and Gluten-free food trends on the rise, I find myself increasingly curious about each.  I’m learning to intermingle them into our monthly menu and finding that by doing so am able to create a better balanced diet (instead of one dependent mostly on wheat, a pitfall of veganism).</p>

              <p>What’s next?</p>

              <p>Well, that’s just it.  My husband and I moved to Boulder, CO from Maryland in May, 2014 and became parents the year after that.  We bought a home (our first together!) here and are really excited about all of the new beginnings we’ll face in our new hometown.</p>

              <p>My goals for this blog are:</p>

              <ul>
                <li>To create simple, healthy, and truly good food that is based on a whole foods approach.  And, hopefully, food that you’ll love.</li>
                <li>Share any parenting tips that I’ve learned as a mom.</li>
                <li>Provide you with any tools that I acquire from simplifying my life as you simplify yours.</li>
                <li>Grow with you!  As much as I LOVE writing about my own experiences, I would love to learn about yours!</li>
              </ul>

              <p>All my best,</p>

              <p>Lauren</p>
            </div>
        </div>
    </div>
</section>
